.app {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
}

.navbar {
	background-color: #0077b5;
	color: white;
	width: 100vw;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

.navbarContainer {
	width: 90%;
	display: flex;
	align-items: center;
	gap: 80px;
	padding: 10px 50px;
	min-height: 50px;
	display: flex;
	align-items: center;
	font-weight: bold;
}

.container {
	display: flex;
	padding: 20px;
	width: 100%;
	gap: 30px;
}

.sidebar {
	background-color: white;
	box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 20px;
	min-width: 200px;
	height: max-content;
	padding: 10px;
	border-radius: 6px;
}

.searchInput {
	padding: 6px;
	font-size: 16px;
	border-radius: 5px;
	border: 1px solid #0077b5;
}

.categories {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.category {
	padding: 6px;
	cursor: pointer;
	text-transform: capitalize;
	border-radius: 5px;
}

.category:hover {
	background-color: #0077b5;
	color: white;
}

.category.active {
	background-color: #0077b5;
	color: white;
}

.content {
	flex: 4;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.product {
	background-color: white;
	box-shadow: 0 0 16px -8px rgba(0, 0, 0, 0.68);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 200px;
	height: 230px;
	border-radius: 8px;
	overflow: hidden;
	transition: all 0.5s ease-in-out;
	padding: 10px;
	cursor: pointer;
}

.product:hover {
	transform: scale(1.02);
}

.price {
	font-weight: bold;
	font-size: 18px;
}

img {
	width: 100%;
	height: 50%;
	object-fit: cover;
	border-radius: 10px;
}

@media screen and (max-width: 600px) {
	.navbarContainer {
		gap: unset;
		justify-content: space-between;
		padding: 10px;
	}

	h2 {
		font-size: 18px;
	}

	.container {
		flex-direction: column;
		padding: 0px;
	}

	.sidebar {
		width: 100%;
	}

	.categories {
		flex-direction: unset;
		flex-wrap: wrap;
	}

	.content {
		margin-top: -30px;
	}

	.product {
		width: 100%;
	}
}
